/* Smooth scrolling */
body {
    scroll-behavior: smooth;
    padding-top: 70px;
    margin: 0;
}

/* ================= HERO SECTION ANIMATION ================= */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(1, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
                url("hero-bg.jpg") center/cover no-repeat;
    color: font-weight(14, 127, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1, .hero p, .hero a {
    opacity: 0;
    animation: fadeUp 2s forwards ease-in-out;
}

.hero h1 { animation-delay: 0.3s; }
.hero p { animation-delay: 0.6s; }
.hero a { animation-delay: 1s; }

/* Fade Up animation */
@keyframes fadeUp {
    0% { transform: translateY(30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

/* ================= ABOUT SECTION ================= */

#about .col-md-8 {
    animation: slideLeft 1.2s ease forwards;
    opacity: 0;
}

#about .col-md-4 {
    animation: slideRight 1.2s ease forwards;
    opacity: 0;
}

@keyframes slideLeft {
    0% { opacity: 0; transform: translateX(-40px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideRight {
    0% { opacity: 0; transform: translateX(40px); }
    100% { opacity: 1; transform: translateX(0); }
}


/* ================= SKILLS ================= */
.skill-box  {
    background: rgb(106, 226, 241);
    border-radius: 10px;
    font-weight: bold;
    font-size: 40px;
    transition: 0.3s;
    cursor: pointer;
    animation: pop 0.8s ease forwards;
    opacity: 0;
}

.skill-box:nth-child(1) { animation-delay: .2s; }
.skill-box:nth-child(2) { animation-delay: .4s; }
.skill-box:nth-child(3) { animation-delay: .6s; }
.skill-box:nth-child(4) { animation-delay: .8s; }

.skill-box:hover {
    background: white(0,0,0,0);
    color: white;
    transform: translateY(-5px);
   
}

/* Pop animation */
@keyframes pop {
    0% { transform: scale(0.7); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

/* ================= PROJECTS ================= */
.card img {
    height: 200px;
    object-fit: cover;
}

.card {
    transition: 0.4s ease;
    opacity: 0;
    animation: fadeIn 1.2s forwards ease;
}

.card:hover {
    transform: translateY(-7px) scale(1.02);
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
}

.card:nth-child(1) { animation-delay: .2s; }
.card:nth-child(2) { animation-delay: .4s; }
.card:nth-child(3) { animation-delay: .6s; }

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* ================= NAVBAR ================= */
.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

.nav-link {
    font-size: 17px;
    padding: 10px 15px;
    transition: 0.2s;
}

.nav-link:hover {
    color: #0d6efd !important;
}

/* ================= CONTACT ================= */
#contact form {
    opacity: 0;
    animation: fadeContact 1.5s forwards ease;
    animation-delay: .5s;
}

@keyframes fadeContact {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* FOOTER */
footer {
    font-size: 20px;
    letter-spacing: 0.5px;
}
